---
import Base from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import { Markdown } from 'astro/components'
---

<Base title="Corner Bakery">
<h1>Corner Bakery</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nam quis voluptatibus, cum sequi, quasi alias nemo quam odit dicta nisi minima, consequatur itaque sit corrupti distinctio harum ducimus facere?</p>
<img src="/images/recipe-donuts.jpg" alt="Close-up photo of donut with sprinkles" class="main-image">
<Card title="Ingredients" href="/">
    <ul>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </li>
        <li>Recusandae impedit praesentium fuga voluptatibus dolorem facere facilis? </li>
        <li>Quos tenetur, ducimus ad facilis voluptates maxime eligendi, saepe suscipit labore ipsam veritatis possimus.</li>
    </ul>
</Card>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nam quis voluptatibus, cum sequi, quasi alias nemo quam odit dicta nisi minima, consequatur itaque sit corrupti distinctio harum ducimus facere?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nam quis voluptatibus, cum sequi, quasi alias nemo quam odit dicta nisi minima, consequatur itaque sit corrupti distinctio harum ducimus facere?</p>
<Markdown>
    ## Write some markdown here

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam placeat fugit dignissimos cumque nihil neque odit, sit et quasi non quia quae earum ea beatae laboriosam adipisci magni commodi illo!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam placeat fugit dignissimos cumque nihil neque odit, sit et quasi non quia quae earum ea beatae laboriosam adipisci magni commodi illo!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam placeat fugit dignissimos cumque nihil neque odit, sit et quasi non quia quae earum ea beatae laboriosam adipisci magni commodi illo!
</Markdown>
<div>Include Bottom Links</div>
<a href="/about">About Page</a>
</Base>